node_modules/
dist/
.env
uploads/
logs/
*.log
.DS_Store
coverage/
.vscode/
.idea/
# Coverage (ignore everything except badges)
coverage/*
!coverage/badges/
coverage/badges/*
!coverage/badges/*.svg

# Other
*.lcov