version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  test:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      
      - run:
          name: Install Dependencies
          command: npm ci
      
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      
      - run:
          name: Run Tests with Coverage
          command: npm run test:coverage
      
      - run:
          name: Upload Coverage to Coveralls
          command: npm run coveralls
      
      - store_artifacts:
          path: coverage
          destination: coverage-report
      
      - store_test_results:
          path: coverage

workflows:
  test-workflow:
    jobs:
      - test