name: SonarCloud Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: SonarCloud Scan
       
        uses: SonarSource/sonarcloud-github-action@f420320fa0bd46c5874456ae47621f8a65f57353
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectKey: flamancadeau_trainlink-rwanda-backend
          organization: flamancadeau